*.pdf
*.if
*.aux
*.log
*.out
*.bbl
*.blg
Thumbs.db
*.dwf
*.exe
*.pdb
/2017-spring-pldi/Benchmark/.vs/Benchmark/v14
/2017-spring-pldi/Benchmark/Benchmark/x64/Debug/Benchmark.tlog
/2017-spring-pldi/Benchmark/Benchmark/x64/Debug
/2017-spring-pldi/Benchmark/x64/Debug
/2017-spring-pldi/Benchmark/Benchmark.VC.db
/2017-spring-pldi/Benchmark/Benchmark.VC.VC.opendb
