*.if
*.aux
*.log
*.out
*.bbl
*.blg
Thumbs.db
*.dwf
*.exe
*.pdb
/2017-spring-pldi/Benchmark/.vs/Benchmark/v14
/2017-spring-pldi/Benchmark/Benchmark/x64/Debug/Benchmark.tlog
/2017-spring-pldi/Benchmark/Benchmark/x64/Debug
/2017-spring-pldi/Benchmark/x64/Debug
/2017-spring-pldi/Benchmark/Benchmark.VC.db
/2017-spring-pldi/Benchmark/Benchmark.VC.VC.opendb
2017-spring-pldi/Benchmark/Benchmark/Debug/Benchmark.tlog/unsuccessfulbuild
*.cache
2017-spring-pldi/Benchmark/Benchmark/Debug/main.cu.deps
*.lastbuildstate
2017-spring-pldi/Benchmark/Benchmark/Release/Benchmark.tlog/unsuccessfulbuild
*.deps
*.dll
2017-spring-pldi/hsu-2017-key_data_parallel_compiler.synctex.gz
*.gz
*.obj
*.lyx~
2022-icfp-unet/Source/codfns.lib
2022-icfp-unet/Source/codfns.exp
2022-icfp-unet/Source/codfns.h
2022-icfp-unet/Source/cdgfx.lib
2022-icfp-unet/Source/cdgfx.exp
2022-icfp-unet/Source/cdgfx.cpp
2022-icfp-unet/Source/UNET.dws
*.lib
*.cpp
*.exp
